angweb3/Web References/TaskPlannerWS/TaskPlannerWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/TaskPlannerWS" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/TaskPlannerWS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50000" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50000" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Root156">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Name" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Login" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DDC" type="string" />
        </sequence>
      </complexType>
      <complexType name="Root" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="Root156" type="tns:Root156" />
        </sequence>
      </complexType>
      <element name="Root" type="tns:Root" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50001" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50001" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Root50001">
        <sequence>
          <element minOccurs="1" maxOccurs="1" default="0" name="ID" type="int" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Status" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Title" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Desciption" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Date_Creation" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Cree_Par" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Client" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Date_Echeance" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Date_Validation" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Validee_Par" type="string" />
          <element minOccurs="1" maxOccurs="1" name="No_Projet" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Nom_Projet" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Nom_Client" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Nom_Cree_Par" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Image" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Nom_Validee_Par" type="string" />
        </sequence>
      </complexType>
      <complexType name="Root" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="Root50001" type="tns:Root50001" />
        </sequence>
      </complexType>
      <element name="Root" type="tns:Root" />
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/TaskPlannerWS" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="Authentification">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="login" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
            <element xmlns:q1="urn:microsoft-dynamics-nav/xmlports/x50000" minOccurs="1" maxOccurs="1" name="ressourceXml" type="q1:Root" />
          </sequence>
        </complexType>
      </element>
      <element name="Authentification_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
            <element xmlns:q2="urn:microsoft-dynamics-nav/xmlports/x50000" minOccurs="1" maxOccurs="1" name="ressourceXml" type="q2:Root" />
          </sequence>
        </complexType>
      </element>
      <element name="GetRequestList">
        <complexType>
          <sequence>
            <element xmlns:q3="urn:microsoft-dynamics-nav/xmlports/x50001" minOccurs="1" maxOccurs="1" name="requestsXml" type="q3:Root" />
          </sequence>
        </complexType>
      </element>
      <element name="GetRequestList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
            <element xmlns:q4="urn:microsoft-dynamics-nav/xmlports/x50001" minOccurs="1" maxOccurs="1" name="requestsXml" type="q4:Root" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="requestID" type="int" />
            <element minOccurs="1" maxOccurs="1" name="userID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="AddRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="title" type="string" />
            <element minOccurs="1" maxOccurs="1" name="type" type="int" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="connectedUserID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="projectID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AddRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="Authentification">
    <part name="parameters" element="tns:Authentification" />
  </message>
  <message name="Authentification_Result">
    <part name="parameters" element="tns:Authentification_Result" />
  </message>
  <message name="GetRequestList">
    <part name="parameters" element="tns:GetRequestList" />
  </message>
  <message name="GetRequestList_Result">
    <part name="parameters" element="tns:GetRequestList_Result" />
  </message>
  <message name="DeleteRequest">
    <part name="parameters" element="tns:DeleteRequest" />
  </message>
  <message name="DeleteRequest_Result">
    <part name="parameters" element="tns:DeleteRequest_Result" />
  </message>
  <message name="AddRequest">
    <part name="parameters" element="tns:AddRequest" />
  </message>
  <message name="AddRequest_Result">
    <part name="parameters" element="tns:AddRequest_Result" />
  </message>
  <portType name="TaskPlannerWS_Port">
    <operation name="Authentification">
      <input name="Authentification" message="tns:Authentification" />
      <output name="Authentification_Result" message="tns:Authentification_Result" />
    </operation>
    <operation name="GetRequestList">
      <input name="GetRequestList" message="tns:GetRequestList" />
      <output name="GetRequestList_Result" message="tns:GetRequestList_Result" />
    </operation>
    <operation name="DeleteRequest">
      <input name="DeleteRequest" message="tns:DeleteRequest" />
      <output name="DeleteRequest_Result" message="tns:DeleteRequest_Result" />
    </operation>
    <operation name="AddRequest">
      <input name="AddRequest" message="tns:AddRequest" />
      <output name="AddRequest_Result" message="tns:AddRequest_Result" />
    </operation>
  </portType>
  <binding name="TaskPlannerWS_Binding" type="tns:TaskPlannerWS_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Authentification">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TaskPlannerWS:Authentification" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Authentification">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Authentification_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRequestList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TaskPlannerWS:GetRequestList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRequestList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRequestList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TaskPlannerWS:DeleteRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="AddRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TaskPlannerWS:AddRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="AddRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="AddRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="TaskPlannerWS">
    <port name="TaskPlannerWS_Port" binding="tns:TaskPlannerWS_Binding">
      <address location="http://192.168.100.100:20047/DynamixProjet/WS/Dynamix-Project/Codeunit/TaskPlannerWS" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>