angweb3/Web References/TaskPlannerWS/TaskPlannerWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/TaskPlannerWS" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/TaskPlannerWS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50000" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50000" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Root156">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Name" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Login" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DDC" type="string" />
        </sequence>
      </complexType>
      <element name="Root156" type="tns:Root156" />
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/TaskPlannerWS" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="Authentification">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="login" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
            <element xmlns:q1="urn:microsoft-dynamics-nav/xmlports/x50000" minOccurs="1" maxOccurs="1" name="ressourceXml" type="q1:Root156" />
          </sequence>
        </complexType>
      </element>
      <element name="Authentification_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
            <element xmlns:q2="urn:microsoft-dynamics-nav/xmlports/x50000" minOccurs="1" maxOccurs="1" name="ressourceXml" type="q2:Root156" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="Authentification">
    <part name="parameters" element="tns:Authentification" />
  </message>
  <message name="Authentification_Result">
    <part name="parameters" element="tns:Authentification_Result" />
  </message>
  <portType name="TaskPlannerWS_Port">
    <operation name="Authentification">
      <input name="Authentification" message="tns:Authentification" />
      <output name="Authentification_Result" message="tns:Authentification_Result" />
    </operation>
  </portType>
  <binding name="TaskPlannerWS_Binding" type="tns:TaskPlannerWS_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Authentification">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TaskPlannerWS:Authentification" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Authentification">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Authentification_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="TaskPlannerWS">
    <port name="TaskPlannerWS_Port" binding="tns:TaskPlannerWS_Binding">
      <address location="http://192.168.100.100:20047/DynamixProjet/WS/Dynamix-Project/Codeunit/TaskPlannerWS" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>